<h1 mat-dialog-title>{{ 'prompt_settings' | translate }}</h1>
<div mat-dialog-content class="app-letter">
  <div>
    <div class="app-mb-4">
    <mat-form-field class="app-w-100">
      <mat-label>{{ 'field.prompt' | translate}}</mat-label>
      <textarea rows="6" matInput [(ngModel)]="prompt" name="prompt"></textarea>
    </mat-form-field>
    </div>
  </div>
</div>

<div mat-dialog-actions>
  <button mat-flat-button color="primary" (click)="save()" cdkFocusInitial>{{ 'Save' | translate }}</button>
  <button mat-button [mat-dialog-close]="null">{{ 'Close' | translate }}</button>
</div>