<h1 mat-dialog-title>{{ 'prompt_settings' | translate }}</h1>
<div mat-dialog-content class="app-letter">
  <div>
    <div class="app-mb-4">
      <mat-form-field class="app-w-100">
        <mat-label>{{ 'field.prompt' | translate}}</mat-label>
        <textarea rows="6" matInput [(ngModel)]="prompt" name="prompt"></textarea>
      </mat-form-field>
    </div>
  </div>
  
  <div class=" app-row app-center-v app-mb-4">
    <fieldset class="app-w-100 app-fxFlex">
      <legend>{{ 'Acronyms' | translate }}</legend>

      <mat-form-field class="app-w-100 app-mb-4" appearance="outline">
        <mat-label>{{ 'field.locations' | translate }}</mat-label>
        <input matInput name="locations" [formControl]="location_str" [value]="location_str.value.name ? location_str.value.name : ''" [matAutocomplete]="autoRepos1">
        <mat-autocomplete #autoRepos1="matAutocomplete" (optionSelected)="selectLocation($event)">

          @for (option of filteredLocations | async; track option) {
            <mat-option [value]="option">{{option.name}}</mat-option>
          }

          <!-- <mat-option *ngFor="let a of locations_db" [value]="a">
            {{a.name}}
          </mat-option> -->
        </mat-autocomplete>
      </mat-form-field>

      <div class="app-fxLayout app-row app-center-v" *ngIf="location">

        <div class="app-fxFlex-25 app-center-v">
          <mat-form-field appearance="outline">
            <mat-label>{{ 'Acronyms' | translate }}</mat-label>
            <input matInput type="text" name="new_acronym" [(ngModel)]="new_acronym" />
            <button matSuffix mat-icon-button (click)="addAcronym()" [matTooltip]="'action.add_acronym' | translate">
              <mat-icon>add</mat-icon>
            </button>
          </mat-form-field>
        </div>
        
        <div *ngFor="let k of location.acronyms; let idx = index; let last = last;" class="app-keyword app-fxLayout app-center-v">
          <span class="app-fxFlex app-center-v">{{ k }}</span>
          <button mat-icon-button (click)="removeAcronym(idx)" [matTooltip]="'action.remove_acronym' | translate"><mat-icon>clear</mat-icon></button>
          <span class="app-pipe app-in-element" *ngIf="!last"></span>
        </div>

      </div>
      
      
    </fieldset>
  </div>
</div>

<div mat-dialog-actions>
  <button mat-flat-button color="primary" (click)="save()" cdkFocusInitial>{{ 'Save' | translate }}</button>
  <button mat-button [mat-dialog-close]="null">{{ 'Close' | translate }}</button>
</div>