<h1 mat-dialog-title>{{ 'File settings' | translate }}</h1>
<div mat-dialog-content class="app-letter">
  <div *ngIf="fileConfig">
    <div class="app-mb-4">
      <mat-form-field class="app-w-100" appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput type="text" name="name" [(ngModel)]="fileConfig.name">
      </mat-form-field>
    </div>
    <div class="app-fxLayout app-row app-center-v app-mb-4">
      <mat-form-field class="app-fxFlex" appearance="outline">
        <mat-label>Tenant</mat-label>
        <mat-select [(ngModel)]="fileConfig.tenant">
          <mat-option *ngFor="let t of state.tenants" [value]="t">{{ t }}</mat-option>
      </mat-select>
      </mat-form-field>
      <mat-form-field class="app-fxFlex" appearance="outline">
        <mat-label>{{ 'def_author' | translate }}</mat-label>
        <input matInput name="def_author" [(ngModel)]="fileConfig.def_author" [matAutocomplete]="auto" (keyup)="getAuthors(fileConfig.def_author)">

        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let a of authors_db" [value]="a.name">
            {{a.name}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <mat-form-field class="app-fxFlex" appearance="outline">
        <mat-label>{{ 'def_recipient' | translate }}</mat-label>
        <input matInput name="def_recipient" [(ngModel)]="fileConfig.def_recipient" [matAutocomplete]="auto2" (keyup)="getAuthors(fileConfig.def_recipient)">

        <mat-autocomplete #auto2="matAutocomplete">
          <mat-option *ngFor="let a of authors_db" [value]="a.name">
            {{a.name}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
    <div class="app-mb-4">
      <mat-form-field class="app-w-100" appearance="outline">
        <mat-label>{{ 'Columns' | translate }}</mat-label>
        <input matInput type="number" name="columns" [(ngModel)]="fileConfig.columns">
      </mat-form-field>
    </div>
    <div class="app-mb-4">
    <mat-form-field class="app-w-100">
      <mat-label>{{ 'field.prompt' | translate}}</mat-label>
      <textarea rows="3" matInput [(ngModel)]="fileConfig.prompt" name="prompt"></textarea>
    </mat-form-field>
    </div>
  </div>
  <div class="app-mt-4"><strong>{{ 'Replacements' | translate }}</strong>:</div>
  <ul class="app-mt-0">
    <li *ngFor="let r of fileConfig.replacements">{{ r.orig }} ==> {{ r.dest }}</li>
  </ul>
  <!-- <mat-list role="list">
    <mat-list-item *ngFor="let r of fileConfig.replacements" role="listitem">{{ r.orig }} ==> {{ r.dest }}</mat-list-item>
  </mat-list> -->
</div>

<div mat-dialog-actions>
  <button mat-flat-button color="primary" (click)="save()" cdkFocusInitial>{{ 'Save' | translate }}</button>
  <button mat-button [mat-dialog-close]="null">{{ 'Close' | translate }}</button>
</div>