.mat-toolbar {
  //height: $app-navbar-height;

  .app-logo {
    height: 34px;
  }

  .mdc-button {
    padding-left: 16px;
    padding-right: 16px;

    &:hover, &.active {
      color: inherit;
      //background-color: $app-navbar-active-item-color;
    }
  }
}