// --- STYLES ---

@import 'sass/app-theme';
@import 'sass/app-variables';
@import "sass/app-mixins";
@import "sass/app-gaps";
@import "sass/app-global";
@import "sass/app-mat-override";
@import 'sass/app-layout';
@import 'sass/app-flex-layout';




// alberto
/* .app-red {
    color: red;
}
.app-suffix {
    padding: 2px !important;
}
.app-block {
    color: red;
}
.app-line {
    color: blue;
}
.app-word {
    color: yellow;
} */

/* .app-fields-row mat-form-field {
    width: 100%;
    padding: 3px;
} */

/* .app-result {
    cursor: pointer;
} */

/* .app-selected {
    background-color:  rgb(117, 117, 83);
} */

/* .app-ignore {
    text-decoration: line-through;
} */

/* app-editor {
    --mat-form-field-subscript-text-line-height: 2px;
}

.mat-mdc-form-field-subscript-wrapper {
    height: 3px;
}

.app-result .mat-mdc-form-field-icon-suffix {
    text-wrap: nowrap;
} */
