<div class="app-fxLayout app-column app-fill">
  <div class="app-controlbar app-fxLayout app-row app-pl-4 app-pr-4 app-center-v">
    <div class="app-fxFlex">
      
      <button mat-icon-button (click)="zoomImg(1.4)"><mat-icon>zoom_in</mat-icon></button>
      <button mat-icon-button (click)="zoomImg(.75)"><mat-icon>zoom_out</mat-icon></button>
      <button mat-icon-button (click)="zoomImgReset()"><mat-icon>zoom_in_map</mat-icon></button>
      
    </div>
    <span class="app-label">{{ 'stránka' | translate }}:</span>
    <input [(ngModel)]="state.currentPage" (change)="getPage()" min="1" max="numPages" />
    <span class="app-ml-6 app-mr-4">{{ 'z ' | translate }}<strong>{{ state.numPages }}</strong></span>
    <button mat-icon-button [matTooltip]="'Previous' | translate" (click)="prevPage()"><mat-icon>navigate_before</mat-icon></button>
    <button mat-icon-button [matTooltip]="'Next' | translate" (click)="nextPage()"><mat-icon>navigate_next</mat-icon></button>
  </div>
  <div class="app-fxFlex app-oa-y" #scroller>
    <div style="position: relative;" [cdkContextMenuTriggerFor]="context_menu">
      <img [src]="config.context + 'api/img?filename=' + file + '&page=' + (state.currentPage-1)"  (load)="getInfo()" #image 
      style="position: absolute;"
      [style.width]="_imgW + '%'"  />
      <canvas id="autoCanvas" #autoCanvas></canvas>
      <canvas id="selCanvas" #selCanvas></canvas>
    </div>
    
    <ng-template #context_menu>
      <div class="app-context-menu mat-elevation-z8" cdkMenu>
        <div cdkMenuItem *ngFor="let f of state.fields" class="app-fxLayout app-row app-center-v">
          <strong class="app-mr-1 app-fxFlex app-label">{{ 'field.' + f | translate }}: </strong>
          <mat-icon class="app-suffix app-color-block" (click)="setField(f, 'block', $event)" [matTooltip]="'action.set_block' | translate">menu_open</mat-icon>
          <!-- <mat-icon class="app-suffix app-color-block" (click)="setField(f, 'block', true)" [matTooltip]="'action.add_block' | translate">post_add</mat-icon> -->
          <mat-icon class="app-suffix app-color-line" (click)="setField(f, 'line', $event)" [matTooltip]="'action.set_line' | translate">menu_open</mat-icon>
          <!-- <mat-icon class="app-suffix app-color-line" (click)="setField(f, 'line', true)" [matTooltip]="'action.add_line' | translate">post_add</mat-icon> -->
          <mat-icon class="app-suffix app-color-word" (click)="setField(f, 'word', $event)" [matTooltip]="'action.set_word' | translate">menu_open</mat-icon>
          <!-- <mat-icon class="app-suffix app-color-word" (click)="setField(f, 'word', true)" [matTooltip]="'action.add_word' | translate">post_add</mat-icon> -->
        </div>
        <div cdkMenuItem class="app-fxLayout app-row app-center-v">
        <strong class="app-mr-1 app-fxFlex app-label">{{ 'action.copy' | translate }}: </strong>
        <mat-icon class="app-suffix app-color-block" (click)="copyToClipboard('block')" [matTooltip]="'action.copy_block' | translate">content_copy</mat-icon>
        <mat-icon class="app-suffix app-color-line" (click)="copyToClipboard('line')" [matTooltip]="'action.copy_line' | translate">content_copy</mat-icon>
        <mat-icon class="app-suffix app-color-word" (click)="copyToClipboard('word')" [matTooltip]="'action.copy_word' | translate">content_copy</mat-icon>
        </div>
        
      </div>
    </ng-template>
  </div>
</div>