<h1 mat-dialog-title>{{ 'templates' | translate }}: {{ state.fileConfig.name }}</h1>
<div mat-dialog-content class="app-letter">
  <div *ngIf="state.fileConfig">

    <div class="app-fxLayout app-row app-center-v app-mb-4">
      <mat-form-field class="app-fxFlex" appearance="outline">
        <mat-label>{{ 'templates' | translate }}</mat-label>
        <mat-select [(ngModel)]="selectedTemplate" (selectionChange)="checkDb()">
          @for(t of state.fileConfig.templates; track idx; let idx = $index){
          <mat-option [value]="t">{{ t.name }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>

    <hr />
    <div class="app-mb-4">
      <mat-form-field class="app-w-100" appearance="outline">
        <mat-label>{{'template_name' | translate}}</mat-label>
        <input matInput type="text" name="name" [(ngModel)]="selectedTemplate.name">
      </mat-form-field>
    </div>

    <div class="app-mb-4">
      <mat-form-field class="app-w-100" appearance="outline">
        <mat-label>{{'field.notes_private' | translate}}</mat-label>
        <textarea rows="3" matInput [(ngModel)]="selectedTemplate.notes_private" name="notes_private"
          #notes_private></textarea>
      </mat-form-field>
    </div>


    <fieldset class="app-fxLayout app-row app-center-v app-mb-4">
      <legend>{{ 'fieldset.author' | translate }}</legend>

      <mat-form-field class="app-fxFlex" appearance="outline">
        <mat-label>{{'field.author_marked' | translate}}</mat-label>
        <input matInput type="text" name="author_marked" [(ngModel)]="selectedTemplate.author_marked">
      </mat-form-field>


      <mat-form-field class="app-fxFlex app-ml-3" appearance="outline">
        <mat-label>{{ 'def_author' | translate }}</mat-label>
        <input matInput [(ngModel)]="selectedTemplate.author_db" name="author_db" id="author_db"
          [matAutocomplete]="autoAuthor" (focus)="checkAuthors($event, true, authors_db)"
          (keyup)="checkAuthors($event, true, authors_db)">
        <mat-autocomplete #autoAuthor="matAutocomplete" [displayWith]="displayFn" (optionSelected)="setAuthorDb()">
          @for(a of authors_db(); track idx; let idx = $index){
          <mat-option [value]="a">
            {{a.name}}
          </mat-option>
          }
        </mat-autocomplete>
      </mat-form-field>

    </fieldset>

    <fieldset class="app-fxLayout app-row app-center-v app-mb-4">
      <legend>{{ 'fieldset.recipient' | translate }}</legend>

      <mat-form-field class="app-fxFlex" appearance="outline">
        <mat-label>{{'field.recipient_marked' | translate}}</mat-label>
        <input matInput type="text" name="recipient_marked" [(ngModel)]="selectedTemplate.recipient_marked">
      </mat-form-field>

      <mat-form-field class="app-fxFlex app-ml-3" appearance="outline">
        <mat-label>{{ 'def_recipient' | translate }}</mat-label>
        <input matInput [(ngModel)]="selectedTemplate.recipient_db" name="recipient_db" id="recipient_db"
          [matAutocomplete]="autoRecipient" (focus)="checkAuthors($event, true, recipients_db)"
          (keyup)="checkAuthors($event, true, recipients_db)">
        <mat-autocomplete #autoRecipient="matAutocomplete" [displayWith]="displayFn"
          (optionSelected)="setRecipientDb()">
          @for(a of recipients_db(); track idx; let idx = $index){
          <mat-option [value]="a">
            {{a.name}}
          </mat-option>
          }
        </mat-autocomplete>
      </mat-form-field>

      <mat-form-field class="app-fxFlex app-ml-3" appearance="outline">
        <mat-label>{{'field.salutation' | translate}}</mat-label>
        <input matInput type="text" name="salutation" [(ngModel)]="selectedTemplate.salutation">
      </mat-form-field>

    </fieldset>

    <fieldset class="app-fxLayout app-row app-center-v app-mb-4">
      <legend>{{ 'fieldset.origin' | translate }}</legend>
      <mat-form-field class="app-fxFlex" appearance="outline">
        <mat-label>{{ 'field.origin_marked' | translate}}</mat-label>
        <input matInput [(ngModel)]="selectedTemplate.origin_marked" name="origin_marked" id="origin_marked" />
      </mat-form-field>

      <mat-form-field class="app-fxFlex app-ml-3" appearance="outline">
        <mat-label>{{ 'field.origin_db' | translate }}</mat-label>
        <input matInput [(ngModel)]="selectedTemplate.origin_db" name="origin_db" id="origin_db"
          [matAutocomplete]="autoOrigin" (focus)="checkPlaces($event, false, origins_db)"
          (keyup)="checkPlaces($event, true, origins_db)">
        <mat-autocomplete #autoOrigin="matAutocomplete" [displayWith]="displayFn">
          @for(a of origins_db(); track idx; let idx = $index){
          <mat-option [value]="a">
            {{a.name}}
          </mat-option>
          }
        </mat-autocomplete>
      </mat-form-field>
    </fieldset>


    <fieldset class="app-fxLayout app-row app-center-v app-mb-4">
      <legend>{{ 'fieldset.destination' | translate }}</legend>
      <mat-form-field class="app-fxFlex" appearance="outline">
        <mat-label>{{ 'field.destination_marked' | translate}}</mat-label>
        <input matInput [(ngModel)]="selectedTemplate.destination_marked" name="destination_marked"
          id="destination_marked" />
      </mat-form-field>

      <mat-form-field class="app-fxFlex app-ml-3" appearance="outline">
        <mat-label>{{ 'field.destination_db' | translate }}</mat-label>
        <input matInput [(ngModel)]="selectedTemplate.destination_db" name="destination_db" id="destination_db"
          [matAutocomplete]="autoDestination" (focus)="checkPlaces($event, false, destinations_db)"
          (keyup)="checkPlaces($event, true, destinations_db)">
        <mat-autocomplete #autoDestination="matAutocomplete" [displayWith]="displayFn">
          @for(a of destinations_db(); track idx; let idx = $index){
          <mat-option [value]="a">
            {{a.name}}
          </mat-option>
          }
        </mat-autocomplete>
      </mat-form-field>
    </fieldset>

    <fieldset>
      <legend>{{ 'fieldset.copies' | translate }}</legend>
      <div class="app-fxLayout app-row app-center-v app-mb-4">
        <mat-form-field class="app-fxFlex" appearance="outline">
          <mat-label>{{ 'field.copies_repository' | translate }}</mat-label>
          <input matInput [(ngModel)]="selectedTemplate.repository" [name]="'copies_repository'"
            [matAutocomplete]="autoRepos" (focus)="getLocations(selectedTemplate.repository, 'repository')"
            (change)="getLocations(selectedTemplate.repository, 'repository')"
            (keyup)="getLocations(selectedTemplate.repository, 'repository')">
          <mat-autocomplete #autoRepos="matAutocomplete">
            @for(a of repositories; track idx; let idx = $index){
            <mat-option [value]="a.name">
              {{a.name}}
            </mat-option>
            }
          </mat-autocomplete>
        </mat-form-field>

        <mat-form-field class="app-fxFlex app-ml-3" appearance="outline">
          <mat-label>{{ 'field.copies_archive' | translate}}</mat-label>
          <input matInput [(ngModel)]="selectedTemplate.archive" name="copies_archive" [matAutocomplete]="autoArchives"
            (change)="getLocations(selectedTemplate.archive, 'archive')"
            (keyup)="getLocations(selectedTemplate.archive, 'archive')">
          <mat-autocomplete #autoArchives="matAutocomplete">
            @for(a of archives; track idx; let idx = $index){
            <mat-option [value]="a.name">
              {{a.name}}
            </mat-option>
            }
          </mat-autocomplete>
        </mat-form-field>

        <mat-form-field class="app-fxFlex app-ml-3" appearance="outline">
          <mat-label>{{ 'field.copies_collection' | translate}}</mat-label>
          <input matInput [(ngModel)]="selectedTemplate.collection" name="copies_collection"
            [matAutocomplete]="autoCollections" (change)="getLocations(selectedTemplate.collection, 'collection')"
            (keyup)="getLocations(selectedTemplate.collection, 'collection')">
          <mat-autocomplete #autoCollections="matAutocomplete">
            @for( a of collections; track idx; let idx = $index){
            <mat-option [value]="a.name">
              {{a.name}}
            </mat-option>
            }
          </mat-autocomplete>
        </mat-form-field>

        <mat-form-field class="app-fxFlex app-ml-3" appearance="outline">
          <mat-label>{{ 'field.copies_signature' | translate}}</mat-label>
          <input matInput [(ngModel)]="selectedTemplate.signature" name="copies_signature">
        </mat-form-field>
      </div>

      <div class="app-fxLayout app-row app-center-v app-mb-4">
        <mat-form-field class="app-fxFlex" appearance="outline">
          <mat-label>{{ 'field.type' | translate}}</mat-label>
          <mat-select [(ngModel)]="selectedTemplate.type" name="copies_type">
            @for(a of config.copyValues.type; track $index){
            <mat-option [value]="a">{{ 'copyValues.type.' + a | translate}}</mat-option>
            }
          </mat-select>
        </mat-form-field>
        <mat-form-field class="app-fxFlex app-ml-3" appearance="outline">
          <mat-label>{{ 'field.preservation' | translate}}</mat-label>

          <mat-select [(ngModel)]="selectedTemplate.preservation" name="copies_preservation">
            @for(a of config.copyValues.preservation; track $index){
            <mat-option [value]="a">{{ 'copyValues.preservation.' + a | translate}}</mat-option>
            }
          </mat-select>
        </mat-form-field>
        <mat-form-field class="app-fxFlex app-ml-3" appearance="outline">
          <mat-label>{{ 'field.copy' | translate}}</mat-label>

          <mat-select [(ngModel)]="selectedTemplate.copy" name="copies_copy">
            @for(a of config.copyValues.copy; track $index){
            <mat-option [value]="a">{{ 'copyValues.copy.' + a | translate}}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>
    </fieldset>

    <fieldset>
      <legend>{{ 'fieldset.keywords' | translate }}</legend>
        <mat-chip-set>
          @for (keyword of keywords(); track keyword) {
          <mat-chip (removed)="removeKeyword(keyword.id)">
            {{keyword.name}}
            <button matChipRemove [attr.aria-label]="'remove keyword'">
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip>
          }
        </mat-chip-set>
        
        <mat-form-field class="app-fxFlex app-ml-3" appearance="outline">
          <mat-label>{{ 'field.new_keyword' | translate }}</mat-label>
          <input matInput [(ngModel)]="keyword" name="keywords" id="keywords"
            [matAutocomplete]="autoKeywords" (focus)="checkKeywords($event, false)" (keyup)="checkKeywords($event, true)">
          <mat-autocomplete #autoKeywords="matAutocomplete" [displayWith]="displayFn" (optionSelected)="addKeyword($event)" >
            @for(a of keywords_db(); track idx; let idx = $index){
            <mat-option [value]="a">
              {{a.name}}
            </mat-option>
            }
          </mat-autocomplete>
        </mat-form-field>
    </fieldset>


  </div>
</div>

<div mat-dialog-actions>
  <button mat-flat-button [disabled]="!selectedTemplate" color="primary" (click)="save()">{{ 'Save' | translate
    }}</button>
  <button mat-flat-button color="primary" (click)="addTemplate()">{{ 'action.add_template' | translate }}</button>
  <button mat-flat-button color="primary" [disabled]="!selectedTemplate || state.fileConfig.templates.length === 1"
    (click)="deleteTemplate()">{{ 'Delete' | translate }}</button>
  <button mat-button color="primary" [mat-dialog-close]="null">{{ 'Close' | translate }}</button>
</div>