<h1 mat-dialog-title cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle  style="cursor: move;">{{ 'Analysis' |
    translate }}
    <div *ngIf="loading" class="app-fxLayout app-row ">
        <mat-progress-bar mode="indeterminate" value="40"></mat-progress-bar>
    </div></h1>
<div mat-dialog-content class="app-letter">

    <div class="app-mb-4">
        <mat-form-field class="app-w-100">
            <mat-label>{{ 'field.full_text' | translate}}</mat-label>
            <textarea rows="5" matInput [(ngModel)]="_letter.full_text" name="full_text"></textarea>
        </mat-form-field>
    </div>
    <div class="app-mb-4">
        <mat-form-field class="app-fxFlex" >
            <mat-label>chatGPT model</mat-label>
            <mat-select [(ngModel)]="data.gptModel">
              <mat-option *ngFor="let t of state.gptModels" [value]="t">{{ t }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-checkbox [(ngModel)]="showImages">{{ 'action.show_images' | translate }}</mat-checkbox>
    </div>
    <div class="app-mb-4" *ngIf="showImages">
        <img class="app-fxFlex" style="height: 100px; border: 1px solid #aaa; margin-right: 2px;" *ngFor="let sel of data.letter.selection" [src]="getImgUrl(sel)" />
    </div>
    <div class="app-mb-4">
        <mat-form-field class="app-w-100">
            <mat-label>{{ 'field.prompt' | translate}}</mat-label>
            <textarea rows="3" matInput [(ngModel)]="data.prompt" name="prompt"></textarea>
        </mat-form-field>
    </div>
    <button mat-flat-button color="primary" (click)="analyze()" class="app-mb-4">
        <mat-icon class="material-icons-outlined">search_insights</mat-icon>
        {{ 'action.analyze' | translate}}
    </button>&#160;
    <button [disabled]="data.gptModel !== 'gpt-4o' || !data.letter.selection" mat-flat-button color="primary" (click)="analyzeImages()" class="app-mb-4">
        <mat-icon class="material-icons-outlined">image_search</mat-icon>
        {{ 'action.analyze_images' | translate}}
    </button>&#160;
    <button mat-flat-button color="primary" (click)="detectLang()" class="app-mb-4">
        <mat-icon class="material-icons-outlined">lang</mat-icon>
        {{ 'detect_lang' | translate}}
    </button>&#160;

    <button mat-flat-button color="primary" (click)="translate()" class="app-mb-4">
        <mat-icon class="material-icons-outlined">translate</mat-icon>
        {{ 'translate' | translate}}
    </button>
    <mat-divider class="app-mt-4"></mat-divider>

    <div class="app-fxLayout app-row app-mb-4" *ngIf="translation?.lang">
        <strong>{{ 'Detected language' | translate }}</strong>:{{ translation.lang }}
    </div>
    <div class="app-mb-4" *ngIf="translation?.text">
        <mat-form-field class="app-w-100">
            <mat-label>{{ 'Translation' | translate}}</mat-label>
            <textarea rows="5" matInput [value]="translation.text" name="translation_text" #preklad></textarea>
        </mat-form-field>
    </div>

    <mat-divider class="app-mt-4"></mat-divider>


    <div class="app-fxLayout app-row app-center-v app-mb-4">
        <mat-form-field class="app-fxFlex" >
            <mat-label>{{ 'field.letter_number' | translate}}</mat-label>
            <input matInput [(ngModel)]="_letter.letter_number" name="letter_number">
            <mat-icon matSuffix (click)="toggleKeep('letter_number')" [matTooltip]="'action.keep_value' | translate"  [class.material-icons-outlined]="!keepFields['letter_number']">push_pin</mat-icon>
        </mat-form-field>
        <mat-form-field class="app-fxFlex app-ml-3">
            <mat-label>{{ 'field.letter_title' | translate}}</mat-label>
            <input matInput [(ngModel)]="_letter.letter_title" name="letter_title">
            <mat-icon matSuffix (click)="toggleKeep('letter_title')" [matTooltip]="'action.keep_value' | translate"  [class.material-icons-outlined]="!keepFields['letter_title']">push_pin</mat-icon>
        </mat-form-field>
        <mat-form-field class="app-fxFlex app-ml-3">
            <mat-label>{{ 'field.page_number' | translate}}</mat-label>
            <input matInput [(ngModel)]="_letter.page_number" name="page_number">
            <mat-icon matSuffix (click)="toggleKeep('page_number')" [matTooltip]="'action.keep_value' | translate"  [class.material-icons-outlined]="!keepFields['page_number']">push_pin</mat-icon>
        </mat-form-field>
        <mat-form-field class="app-fxFlex app-ml-3">
            <mat-label>{{ 'field.end_page_number' | translate}}</mat-label>
            <input matInput [(ngModel)]="_letter.end_page_number" name="end_page_number">
            <mat-icon matSuffix (click)="toggleKeep('end_page_number')" [matTooltip]="'action.keep_value' | translate"  [class.material-icons-outlined]="!keepFields['end_page_number']">push_pin</mat-icon>
        </mat-form-field>
    </div>

    <div class="app-fxLayout app-row app-center-v app-mb-4">
        <mat-form-field class="app-fxFlex">
            <mat-label>{{ 'field.author' | translate}}</mat-label>
            <input matInput [(ngModel)]="_letter.author" name="author" />
            <mat-icon matSuffix (click)="toggleKeep('author')" [matTooltip]="'action.keep_value' | translate"  [class.material-icons-outlined]="!keepFields['author']">push_pin</mat-icon>
        </mat-form-field>

        <mat-form-field class="app-fxFlex app-ml-3">
            <mat-label>{{ 'field.author_db' | translate}}</mat-label>
            <mat-select [(ngModel)]="_letter.author_db">
                <mat-option *ngFor="let a of _letter.authors_db" [value]="a">{{a.name}} ({{ a.tenant }})</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="app-fxFlex app-ml-3">
            <mat-label>{{ 'field.recipient' | translate}}</mat-label>
            <input matInput [(ngModel)]="_letter.recipient" name="recipient">
            <mat-icon matSuffix (click)="toggleKeep('recipient')" [matTooltip]="'action.keep_value' | translate"  [class.material-icons-outlined]="!keepFields['recipient']">push_pin</mat-icon>
        </mat-form-field>
        <mat-form-field class="app-fxFlex app-ml-3">
            <mat-label>{{ 'field.recipient_db' | translate}}</mat-label>
            <mat-select [(ngModel)]="_letter.recipient_db">
                <mat-option *ngFor="let a of _letter.recipients_db" [value]="a">{{a.name}} ({{ a.tenant }})</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    

    <div class="app-fxLayout app-row app-center-v app-mb-4">
        <mat-form-field class="app-fxFlex">
            <mat-label>{{ 'field.origin' | translate}}</mat-label>
            <input matInput [(ngModel)]="_letter.origin" name="origin" />
            <mat-icon matSuffix (click)="toggleKeep('origin')" [matTooltip]="'action.keep_value' | translate"  [class.material-icons-outlined]="!keepFields['origin']">push_pin</mat-icon>
        </mat-form-field>

        <mat-form-field class="app-fxFlex app-ml-3">
            <mat-label>{{ 'field.salutation' | translate}}</mat-label>
            <input matInput [(ngModel)]="_letter.salutation" name="salutation">
            <mat-icon matSuffix (click)="toggleKeep('salutation')" [matTooltip]="'action.keep_value' | translate"  [class.material-icons-outlined]="!keepFields['salutation']">push_pin</mat-icon>
        </mat-form-field>
        <mat-form-field class="app-fxFlex app-ml-3">
            <mat-label>{{ 'field.sign_off' | translate}}</mat-label>
            <input matInput [(ngModel)]="_letter.sign_off" name="sign_off">
            <mat-icon matSuffix (click)="toggleKeep('sign_off')" [matTooltip]="'action.keep_value' | translate"  [class.material-icons-outlined]="!keepFields['sign_off']">push_pin</mat-icon>
        </mat-form-field>
        <mat-form-field class="app-fxFlex app-ml-3">
            <mat-label>{{ 'field.signature' | translate}}</mat-label>
            <input matInput [(ngModel)]="_letter.signature" name="signature">
            <mat-icon matSuffix (click)="toggleKeep('signature')" [matTooltip]="'action.keep_value' | translate"  [class.material-icons-outlined]="!keepFields['signature']">push_pin</mat-icon>
        </mat-form-field>
    </div>

    <div class="app-mb-4">
        <mat-form-field class="app-fxFlex" *ngIf="!datum">
            <mat-label>{{ 'field.date' | translate}}</mat-label>
            <input matInput [(ngModel)]="_letter.date" name="date" />
        </mat-form-field>

        <mat-form-field class="app-fxFlex" *ngIf="datum">
            <mat-label>{{ 'field.date' | translate}}</mat-label>
            <input matInput  [ngModel]="datum | date : 'dd.MM.yyyy'" (ngModelChange)="datum=$event"  name="datum" />
        </mat-form-field>

        <mat-form-field class="app-fxFlex app-ml-3">
            <mat-label>{{ 'field.languages' | translate}}</mat-label>
            <input matInput [(ngModel)]="_letter.languages" name="languages">
            <mat-icon matSuffix (click)="toggleKeep('languages')" [matTooltip]="'action.keep_value' | translate"  [class.material-icons-outlined]="!keepFields['languages']">push_pin</mat-icon>
        </mat-form-field>
    </div>

    <div class="app-mb-4 ">
        <mat-form-field class="app-w-100"  >
            <mat-label>{{ 'field.incipit' | translate}}</mat-label>
            <input rows="5" matInput [(ngModel)]="_letter.incipit" name="incipit" />
            <mat-icon matSuffix (click)="toggleKeep('incipit')" [matTooltip]="'action.keep_value' | translate"  [class.material-icons-outlined]="!keepFields['incipit']">push_pin</mat-icon>
        </mat-form-field>
    </div>

    <div class="app-mb-4">
        <mat-form-field class="app-w-100">
            <mat-label>{{ 'field.explicit' | translate}}</mat-label>
            <input rows="2" matInput [(ngModel)]="_letter.explicit" name="explicit" />
            <mat-icon matSuffix (click)="toggleKeep('explicit')" [matTooltip]="'action.keep_value' | translate"  [class.material-icons-outlined]="!keepFields['explicit']">push_pin</mat-icon>
        </mat-form-field>
    </div>

    <div class="app-mb-4">
        <mat-form-field class="app-w-100">
            <mat-label>{{ 'field.abstract_cs' | translate}}</mat-label>
            <textarea rows="5" matInput [(ngModel)]="_letter.abstract_cs" name="abstract_cs"></textarea>
            <mat-icon matSuffix (click)="toggleKeep('abstract_cs')" [matTooltip]="'action.keep_value' | translate"  [class.material-icons-outlined]="!keepFields['abstract_cs']">push_pin</mat-icon>
        </mat-form-field>
    </div>

    <div class="app-mb-4">
        <mat-form-field class="app-w-100">
            <mat-label>{{ 'field.abstract_en' | translate}}</mat-label>
            <textarea rows="5" matInput [(ngModel)]="_letter.abstract_en" name="abstract_en"></textarea>
            <mat-icon matSuffix (click)="toggleKeep('abstract_en')" [matTooltip]="'action.keep_value' | translate"  [class.material-icons-outlined]="!keepFields['abstract_en']">push_pin</mat-icon>
        </mat-form-field>
    </div>

    <div class="app-mb-4">
        <mat-form-field class="app-w-100">
            <mat-label>{{ 'field.summary' | translate}}</mat-label>
            <textarea rows="5" matInput [(ngModel)]="_letter.summary" name="summary"></textarea>
            <mat-icon matSuffix (click)="toggleKeep('summary')" [matTooltip]="'action.keep_value' | translate"  [class.material-icons-outlined]="!keepFields['summary']">push_pin</mat-icon>
        </mat-form-field>
    </div>

    <mat-tab-group>
        <mat-tab label="HIKO">
            <div class="app-pt-4 app-pb-4 app-pr-4">
                <div *ngFor="let entity of entities">
                    <mat-checkbox [id]="entity.id" [name]="entity.id" type="checkbox" [(ngModel)]="entity.selected">{{
                        entity.key_cze }} ({{ entity.tenant }} - {{entity.type}})</mat-checkbox>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="NameTag">
            <div class="app-pt-4 app-pb-4 app-pr-4">
                <div *ngFor="let entity of nametags; let idx = index;">
                    <mat-checkbox [id]="'nametag_' + idx" [name]="'nametag_' + idx" type="checkbox"
                        [(ngModel)]="entity.selected">{{entity.text}} ({{ 'tags.' + entity.type |
                        translate}})</mat-checkbox>
                </div>
            </div>
        </mat-tab>
    </mat-tab-group>

</div>

<div mat-dialog-actions>
    <button mat-flat-button (click)="save()" color="primary">{{ 'Save' | translate }}</button>
    <button mat-flat-button [mat-dialog-close]="false">{{ 'Close' | translate }}</button>
</div>