<h1 mat-dialog-title cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle  style="cursor: move;">{{ 'Analysis' |
    translate }}
    @if (loading) {
    <div class="app-fxLayout app-row ">
        <mat-progress-bar mode="indeterminate" value="40"></mat-progress-bar>
    </div>}</h1>
<div mat-dialog-content class="app-letter">

    <div class="app-mb-4">
        <mat-form-field class="app-w-100">
            <mat-label>{{ 'field.full_text' | translate}}</mat-label>
            <textarea rows="5" matInput [(ngModel)]="_letter.hiko.content" name="full_text"></textarea>
        </mat-form-field>
    </div>
    <div class="app-mb-4">
        <mat-form-field class="app-fxFlex" >
            <mat-label>chatGPT model</mat-label>
            <mat-select [(ngModel)]="data.gptModel">
            @for(t of state.gptModels; track idx; let idx = $index){
                <mat-option [value]="t">{{ t }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
        <mat-checkbox [(ngModel)]="showImages">{{ 'action.show_images' | translate }}</mat-checkbox>
    </div>
    @if (showImages) {
    <div class="app-mb-4">
        @for(sel of data.letter.selection; track idx; let idx = $index){
            <img class="app-fxFlex" style="height: 100px; border: 1px solid #aaa; margin-right: 2px;" [src]="getImgUrl(sel)" />
        }
    </div>
}
    <div class="app-mb-4">
        <mat-form-field class="app-w-100">
            <mat-label>{{ 'field.prompt' | translate}}</mat-label>
            <textarea rows="3" matInput [(ngModel)]="data.prompt" name="prompt"></textarea>
        </mat-form-field>
    </div>
    <button mat-flat-button color="primary" (click)="analyze()" class="app-mb-4">
        <mat-icon class="material-icons-outlined">search_insights</mat-icon>
        {{ 'action.analyze' | translate}}
    </button>&#160;
    <button [disabled]="data.gptModel !== 'gpt-4o' || !data.letter.selection" mat-flat-button color="primary" (click)="analyzeImages()" class="app-mb-4">
        <mat-icon class="material-icons-outlined">image_search</mat-icon>
        {{ 'action.analyze_images' | translate}}
    </button>&#160;
    <button mat-flat-button color="primary" (click)="detectLang()" class="app-mb-4">
        <mat-icon class="material-icons-outlined">lang</mat-icon>
        {{ 'detect_lang' | translate}}
    </button>&#160;

    <button mat-flat-button color="primary" (click)="translate()" class="app-mb-4">
        <mat-icon class="material-icons-outlined">translate</mat-icon>
        {{ 'translate' | translate}}
    </button>

    <button mat-icon-button color="primary" [disabled]="!usage" (click)="showInfo()" [matTooltip]="'info' | translate">
        <mat-icon class="material-icons-outlined">info</mat-icon>
    </button>
    
    <mat-divider class="app-mt-4"></mat-divider>
@if (translation?.lang) {
    <div class="app-fxLayout app-row app-mb-4">
        <strong>{{ 'Detected language' | translate }}</strong>:{{ translation.lang }}
    </div>
}
    @if (translation?.text) {
    <div class="app-mb-4">
        <mat-form-field class="app-w-100">
            <mat-label>{{ 'Translation' | translate}}</mat-label>
            <textarea rows="5" matInput [value]="translation.text" name="translation_text" #preklad></textarea>
        </mat-form-field>
    </div>
    }
    <mat-divider class="app-mt-4"></mat-divider>


    <div class="app-fxLayout app-row app-center-v app-mb-4">
        <mat-form-field class="app-fxFlex" >
            <mat-label>{{ 'field.letter_number' | translate}}</mat-label>
            <input matInput [(ngModel)]="_letter.letter_number" name="letter_number">
            <mat-icon matSuffix (click)="toggleKeep('letter_number')" [matTooltip]="'action.keep_value' | translate"  [class.material-icons-outlined]="!keepFields['letter_number']">push_pin</mat-icon>
        </mat-form-field>
        <mat-form-field class="app-fxFlex app-ml-3">
            <mat-label>{{ 'field.letter_title' | translate}}</mat-label>
            <input matInput [(ngModel)]="_letter.letter_title" name="letter_title">
            <mat-icon matSuffix (click)="toggleKeep('letter_title')" [matTooltip]="'action.keep_value' | translate"  [class.material-icons-outlined]="!keepFields['letter_title']">push_pin</mat-icon>
        </mat-form-field>
        <mat-form-field class="app-fxFlex app-ml-3">
            <mat-label>{{ 'field.page_number' | translate}}</mat-label>
            <input matInput [(ngModel)]="_letter.page_number" name="page_number">
            <mat-icon matSuffix (click)="toggleKeep('page_number')" [matTooltip]="'action.keep_value' | translate"  [class.material-icons-outlined]="!keepFields['page_number']">push_pin</mat-icon>
        </mat-form-field>
        <mat-form-field class="app-fxFlex app-ml-3">
            <mat-label>{{ 'field.end_page_number' | translate}}</mat-label>
            <input matInput [(ngModel)]="_letter.end_page_number" name="end_page_number">
            <mat-icon matSuffix (click)="toggleKeep('end_page_number')" [matTooltip]="'action.keep_value' | translate"  [class.material-icons-outlined]="!keepFields['end_page_number']">push_pin</mat-icon>
        </mat-form-field>
    </div>
    <div class="app-fxLayout app-row app-center-v app-mb-4 app-icons">
        <mat-form-field class="app-fxFlex">
            <mat-label>{{ 'field.author' | translate}}</mat-label>
            <input matInput [(ngModel)]="_letter.author" name="author" />
            <mat-icon matSuffix (click)="toggleKeep('author')" [matTooltip]="'action.keep_value' | translate" class="app-suffix"  [class.material-icons-outlined]="!keepFields['author']">push_pin</mat-icon>
            @if(author_db.id === -1 && _letter.author) {
                <mat-icon matSuffix (click)="createIndentity(_letter.author)" [title]="'action.create_identity' | translate" class="app-suffix">person_add_alt</mat-icon>
            }
        </mat-form-field>

        <mat-form-field class="app-fxFlex app-ml-3" [class.app-field-error]="author_db.id === -1">
            <mat-label>{{ 'field.author_db' | translate}}</mat-label>
            <mat-select [(ngModel)]="author_db">
                <mat-option [value]="noauthor">{{noauthor.marked}}</mat-option>
            @for(a of authors_db; track a.id; let idx = $index){
                <mat-option [value]="a">{{a.name}}</mat-option>
            }
            </mat-select>
            <!-- @if(authors_db.length === 0) {
                <mat-icon matSuffix (click)="checkAuthors(true)" [title]="'action.check_authors' | translate" color="primary" class="material-icons-outlined app-ml-2 app-mr-2">how_to_reg</mat-icon>
            } -->
        </mat-form-field>

        <mat-form-field class="app-fxFlex app-ml-3">
            <mat-label>{{ 'field.recipient' | translate}}</mat-label>
            <input matInput [(ngModel)]="_letter.recipient" name="recipient">
            <mat-icon matSuffix (click)="toggleKeep('recipient')" [matTooltip]="'action.keep_value' | translate" class="app-suffix" [class.material-icons-outlined]="!keepFields['recipient']">push_pin</mat-icon>
            @if(recipient_db.id === -1 && _letter.recipient) {
                <mat-icon matSuffix (click)="createIndentity(_letter.recipient)" [title]="'action.create_identity' | translate" class="app-suffix">person_add_alt</mat-icon>
            }
        </mat-form-field>
        <mat-form-field class="app-fxFlex app-ml-3" [class.app-field-error]="recipient_db.id === -1">
            <mat-label>{{ 'field.recipient_db' | translate}}</mat-label>
            <mat-select [(ngModel)]="recipient_db">
            <mat-option [value]="norecipient">{{norecipient.marked}}</mat-option>
            @for(a of recipients_db; track a.id; let idx = $index){
                <mat-option [value]="a">{{a.name}}</mat-option>
            }
            </mat-select>
            <!-- @if(recipients_db.length === 0) {
                <mat-icon matSuffix (click)="checkAuthors(true)" [title]="'action.check_authors' | translate" color="primary" class="material-icons-outlined app-ml-2 app-mr-2">how_to_reg</mat-icon>
            } -->
        </mat-form-field>
    </div>

    <div class="app-fxLayout app-row app-center-v app-mb-4" >
    <mat-form-field class="app-fxFlex">
      <mat-label>{{ 'field.origin' | translate}}</mat-label>
      <input matInput [(ngModel)]="_letter.origin" name="origin" /><span matSuffix></span>
    </mat-form-field>
    <mat-form-field class="app-fxFlex app-ml-3">

      <mat-label>{{ 'field.origin_db' | translate}}</mat-label>
            <mat-select [(ngModel)]="origin_db">
                <mat-option [value]="noauthor">{{noorigin.name}}</mat-option>
            @for(a of origins_db; track a.id; let idx = $index){
                <mat-option [value]="a">{{a.name}}</mat-option>
            }
            </mat-select>
            @if(origins_db.length === 0) {
                <mat-icon matSuffix (click)="checkPlaces(true)" [title]="'action.check_authors' | translate" color="primary" class="material-icons-outlined app-ml-2 app-mr-2">where_to_vote</mat-icon>
            }
    </mat-form-field>
    
    <mat-form-field class="app-fxFlex">
      <mat-label>{{ 'field.destination' | translate}}</mat-label>
      <input matInput [(ngModel)]="_letter.destination" name="recipient"><span matSuffix></span>
    </mat-form-field>
    <mat-form-field class="app-fxFlex app-ml-3">

      <mat-label>{{ 'field.destination_db' | translate}}</mat-label>
            <mat-select [(ngModel)]="destination_db">
            <mat-option [value]="norecipient">{{nodestination.name}}</mat-option>
            @for(a of destinations_db; track a.id; let idx = $index){
                <mat-option [value]="a">{{a.name}}</mat-option>
            }
            </mat-select>
            @if(destinations_db.length === 0) {
                <mat-icon matSuffix (click)="checkPlaces(true)" [title]="'action.check_authors' | translate" color="primary" class="material-icons-outlined app-ml-2 app-mr-2">where_to_vote</mat-icon>
            }
    </mat-form-field>
    <button mat-flat-button (click)="checkPlaces(true)" [title]="'action.check_authors' | translate">
      <mat-icon color="primary" class="material-icons-outlined app-ml-2 app-mr-2">where_to_vote</mat-icon>
    </button>
  </div>
    

    <div class="app-fxLayout app-row app-center-v app-mb-4">

        <mat-form-field class="app-fxFlex">
            <mat-label>{{ 'field.salutation' | translate}}</mat-label>
            <input matInput [(ngModel)]="_letter.salutation" name="salutation">
            <mat-icon matSuffix (click)="toggleKeep('salutation')" [matTooltip]="'action.keep_value' | translate"  [class.material-icons-outlined]="!keepFields['salutation']">push_pin</mat-icon>
        </mat-form-field>
        <mat-form-field class="app-fxFlex app-ml-3">
            <mat-label>{{ 'field.sign_off' | translate}}</mat-label>
            <input matInput [(ngModel)]="_letter.sign_off" name="sign_off">
            <mat-icon matSuffix (click)="toggleKeep('sign_off')" [matTooltip]="'action.keep_value' | translate"  [class.material-icons-outlined]="!keepFields['sign_off']">push_pin</mat-icon>
        </mat-form-field>
        <mat-form-field class="app-fxFlex app-ml-3">
            <mat-label>{{ 'field.signature' | translate}}</mat-label>
            <input matInput [(ngModel)]="_letter.signature" name="signature">
            <mat-icon matSuffix (click)="toggleKeep('signature')" [matTooltip]="'action.keep_value' | translate"  [class.material-icons-outlined]="!keepFields['signature']">push_pin</mat-icon>
        </mat-form-field>
    </div>

    <div class="app-mb-4">
        <mat-form-field class="app-fxFlex">
            <mat-label>{{ 'field.date_marked' | translate}}</mat-label>
            <input matInput [(ngModel)]="_letter.hiko.date_marked" name="date" />
        </mat-form-field>

        <mat-form-field class="app-fxFlex">
            <mat-label>{{ 'field.date' | translate}}</mat-label>
            <input matInput  [ngModel]="_letter.date | date : 'dd.MM.yyyy'" (ngModelChange)="datum=$event"  name="datum" />
        </mat-form-field>

        <mat-form-field class="app-fxFlex app-ml-3">
            <mat-label>{{ 'field.languages' | translate}}</mat-label>
            <input matInput [(ngModel)]="_letter.hiko.languages" name="languages">
            <mat-icon matSuffix (click)="toggleKeep('languages')" [matTooltip]="'action.keep_value' | translate"  [class.material-icons-outlined]="!keepFields['languages']">push_pin</mat-icon>
        </mat-form-field>
    </div>

    <div class="app-mb-4 ">
        <mat-form-field class="app-w-100"  >
            <mat-label>{{ 'field.incipit' | translate}}</mat-label>
            <input rows="5" matInput [(ngModel)]="_letter.hiko.incipit" name="incipit" />
            <mat-icon matSuffix (click)="toggleKeep('incipit')" [matTooltip]="'action.keep_value' | translate"  [class.material-icons-outlined]="!keepFields['incipit']">push_pin</mat-icon>
        </mat-form-field>
    </div>

    <div class="app-mb-4">
        <mat-form-field class="app-w-100">
            <mat-label>{{ 'field.explicit' | translate}}</mat-label>
            <input rows="2" matInput [(ngModel)]="_letter.hiko.explicit" name="explicit" />
            <mat-icon matSuffix (click)="toggleKeep('explicit')" [matTooltip]="'action.keep_value' | translate"  [class.material-icons-outlined]="!keepFields['explicit']">push_pin</mat-icon>
        </mat-form-field>
    </div>

    <div class="app-mb-4">
        <mat-form-field class="app-w-100">
            <mat-label>{{ 'field.abstract_cs' | translate}}</mat-label>
            <textarea rows="5" matInput [(ngModel)]="_letter.hiko.abstract.cs" name="abstract_cs"></textarea>
            <mat-icon matSuffix (click)="toggleKeep('abstract_cs')" [matTooltip]="'action.keep_value' | translate"  [class.material-icons-outlined]="!keepFields['abstract_cs']">push_pin</mat-icon>
            <mat-icon matSuffix (click)="translateAbstract()" [matTooltip]="'translate' | translate"  >translate</mat-icon>
        </mat-form-field>
    </div>

    <div class="app-mb-4">
        <mat-form-field class="app-w-100">
            <mat-label>{{ 'field.abstract_en' | translate}}</mat-label>
            <textarea rows="5" matInput [(ngModel)]="_letter.hiko.abstract.en" name="abstract_en"></textarea>
            <mat-icon matSuffix (click)="toggleKeep('abstract_en')" [matTooltip]="'action.keep_value' | translate"  [class.material-icons-outlined]="!keepFields['abstract_en']">push_pin</mat-icon>
        </mat-form-field>
    </div>

    <div class="app-mb-4">
        <mat-form-field class="app-w-100">
            <mat-label>{{ 'field.summary' | translate}}</mat-label>
            <textarea rows="5" matInput [(ngModel)]="_letter.ai[0].analysis.summary" name="summary"></textarea>
            <mat-icon matSuffix (click)="toggleKeep('summary')" [matTooltip]="'action.keep_value' | translate"  [class.material-icons-outlined]="!keepFields['summary']">push_pin</mat-icon>
        </mat-form-field>
    </div>

    <mat-tab-group>
        <mat-tab label="HIKO">
            <div class="app-pt-4 app-pb-4 app-pr-4">
            @for(entity of entities; track entity.id; let idx = $index){
                <div >
                    <mat-checkbox [id]="entity.id" [name]="entity.id" type="checkbox" [(ngModel)]="entity.selected">{{
                        entity.name }} ({{ entity.tenant }})</mat-checkbox>
                </div>
            }
            </div>
        </mat-tab>
        <mat-tab label="NameTag">
            <div class="app-pt-4 app-pb-4 app-pr-4">
            @for(entity of nametags; track idx; let idx = $index){
                <div>
                    <mat-checkbox [id]="'nametag_' + idx" [name]="'nametag_' + idx" type="checkbox"
                        [(ngModel)]="entity.selected">{{entity.text}} ({{ 'tags.' + entity.type |
                        translate}})</mat-checkbox>
                </div>
            }
            </div>
        </mat-tab>
    </mat-tab-group>

</div>

<div mat-dialog-actions>
    <button mat-flat-button [disabled]="!isValid()" (click)="save()" color="primary">{{ 'Save' | translate }}</button>
    <button mat-flat-button [mat-dialog-close]="false">{{ 'Close' | translate }}</button>
</div>