.mat-mdc-list {
  .mat-mdc-list-item {
    border-bottom: 1px solid var(--app-gray-3);

    &.app-selected {
      background-color: var(--app-color-selected);
    }

    .mat-icon {
      &:hover {
        color: var(--app-color-primary);
      }
    }
  }
}


.app-hiko {
  color: var(--app-hiko-color);
}

.app-hiko-id {
  float: right; 
  position: relative;
  color: var(--app-hiko-color);
}


.app-exported_to_hiko {
  float: right; 
  position: relative;
  color: var(--app-exported-to-hiko-color);
}
