// --- MIXINS ---

// set icon size
@mixin setIcon($size: null, $color: null, $position: null) {
  @if ($size != null) {
    font-size: #{$size}px;
    height: #{$size}px;
    width: #{$size}px;  
  }
  @if ($color != null) {
    color: $color !important;
  }
  @if ($position != null) {
    vertical-align: $position !important;  
  }  
}

// clearfix
@mixin cleanfix() {
  &:before,
  &:after {
    content: " "; // 1
    display: table; // 2
  }
  &:after {
    clear: both;
  }
}

// set link color
@mixin setLinkColor($color, $opacity: .7) {
  color: $color;

  &:hover {
    color: rgba($color, $opacity);
  }
}

// set alert card
@mixin setAlertCard() {
  @each $alert, $item in $alerts {
    &.app-#{$alert} {
      color: map-get( $item , color );
      background-color: map-get( $item , bg );
      border-color: map-get( $item , border );
    }
  }
}

// set badge color
@mixin setStateColor($type: null) {
  @each $state, $color in $states {
    @if ($type == 'icon') {
      &.app-#{$state} {
        color: $color !important;
      }
    } @else if ($type == 'badge') {
      &.app-#{$state} {
        background-color: $color;
      }
    }
  }
}

// set dashboard color
@mixin setDashboardColor() {
  @each $type, $color in $dashboard {
    &.app-#{$type} {
      background-color: $color !important;
    }
  }
}

// set icon size
@mixin setIconSize() {
  @each $size, $val in $iconSize {
    &.app-#{$size} {
      font-size: #{$val}px;
      width: #{$val}px;
      height: #{$val}px;
    }
  }
}


