// --- THEME ---

@include mat.core();

$app-pp: mat.define-palette(mat.$brown-palette, 500);
$app-primary: mat.get-color-from-palette($app-pp); 
// $app-primary: mat-palette($mat-blue, 700);

$app-pa: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$app-accent: mat.get-color-from-palette($app-pa);
//$app-accent: mat-palette($mat-pink, A200, A100, A400);

$app-pw: mat.define-palette(mat.$red-palette);
$app-warn: mat.get-color-from-palette($app-pw);
// $app-warn: mat-palette($mat-red);

$app-theme: mat.define-light-theme((
 color: (
   primary: $app-pp,
   accent: $app-pa,
   warn: $app-pw,
 ),
 typography: mat.define-typography-config(),
 density: 0,
));


@include mat.core-theme($app-theme);
// @include mat.form-field-theme($app-theme);
@include mat.all-component-themes($app-theme);
@include mat.form-field-density(-2);
