// --- VARIABLES ---

@use '@angular/material' as mat;

// css variables
:root {
  // colors
  --app-color-lightnes: #ffffff;
  --app-color-lightnes-rgb: 255, 255, 255;
  --app-color-darknes: #000000;
  --app-color-darknes-rgb: 0, 0, 0;
  --app-color-primary: #{$app-primary};
  --app-color-warning: #{$app-warn};

  --app-color-info: #{mat.get-color-from-palette(mat.define-palette(mat.$amber-palette, 900))};
  --app-color-selected: #{rgba($app-primary, .1)};

  $app-green-palette: mat.define-palette(mat.$green-palette);
  --app-color-success: #{mat.get-color-from-palette($app-green-palette, 800)};

  // color markings
  --app-color-block: #{mat.get-color-from-palette($app-green-palette, 800)};
  --app-color-line: #{mat.get-color-from-palette(mat.define-palette(mat.$purple-palette, 500))};
  --app-color-word: #{mat.get-color-from-palette(mat.define-palette(mat.$yellow-palette, A700))};

  // gray colors
  $app-gray-palette: mat.define-palette(mat.$gray-palette);
  --app-gray-0: #{mat.get-color-from-palette($app-gray-palette, 50)};
  --app-gray-1: #{mat.get-color-from-palette($app-gray-palette, 100)};
  --app-gray-2: #{mat.get-color-from-palette($app-gray-palette, 200)};
  --app-gray-3: #{mat.get-color-from-palette($app-gray-palette, 300)};
  --app-gray-4: #{mat.get-color-from-palette($app-gray-palette, 400)};
  --app-gray-5: #{mat.get-color-from-palette($app-gray-palette, 500)};
  --app-gray-6: #{mat.get-color-from-palette($app-gray-palette, 600)};
  --app-gray-7: #{mat.get-color-from-palette($app-gray-palette, 700)};
  --app-gray-8: #{mat.get-color-from-palette($app-gray-palette, 800)};
  --app-gray-9: #{mat.get-color-from-palette($app-gray-palette, 900)};

  // bars
  --app-topbar-height: 50px;
  --app-topbar-border-color: var(--app-gray-3);
  --app-controlbar-height: 45px;
  --app-controlbar-bg-color: var(--app-gray-1);
  --app-controlbar-border-color: var(--app-gray-3);

  // components
  --app-footer-bg-color: var(--app-color-darknes);
  --app-footer-color: var(--app-gray-6);

  --app-paginator-form-field-height: 28px;

  // layout
  --app-container: 1280px;
  --app-hiko-color: rgb(109 40 217);

  // mat override
  --app-button-height: 32px;
  --app-checkbox-size: 14px;
  --mat-paginator-container-background-color: transparent;
  --mat-paginator-container-size: 44px;
  --mdc-secondary-navigation-tab-container-height: 48px;
  //--mat-toolbar-standard-height: 80px;
  --mat-table-row-item-container-height: 36px;

  --mdc-circular-progress-active-indicator-color: #fff;
  
}

// gaps
$gaps: (
  "0": 0,
  "1": 4,
  "2": 8,
  "3": 12,
  "4": 16,
  "5": 20,
  "6": 24,
  "7": 28,
  "8": 32,
);

// alerts
$alerts: (
  warning: var(--app-color-warning),
  info: var(--app-color-info),
  success: var(--app-color-success)
);